.window {
  bottom: 0;
  margin: 10px;
  width: 98%;
  position: fixed;
  z-index: 20;
}

.container {
  height: auto;
  /* left: 50%; */
  /* transform: translate(-50%); */
  width: 81vw;
  background-color: rgb(27, 27, 27);
  border: 1px solid  rgb(139, 89, 255);
  border-radius: 8px;
  padding: 10px;
  position: relative;
}

.container input {
  width: 97%;
  background: none;
  border: none;
  color: white;
  outline: none;
}

.sendBtn {
  display: inline;
  position: absolute;
  right: 15px;
}

.sendBtn i {
  cursor: pointer;
  color:   rgb(139, 89, 255);
}
