.cardContainer {
  background-color: rgb(49, 49, 49);
  color: rgb(214, 214, 214);
  width: 98%;
  height: auto;
  border-radius: 12px;
  padding: 15px;
  position: relative;
  margin: 10px;
}



.cardContainer h4 {
  display: inline-block;
  margin-right: 5px;
  font-weight: 600;
  color: white;
}

.cardContainer h4 span {
  display: inline;
}

.cardContainer span {
    font-weight: 300;
    margin-right: 5px;
}

.delBtn {
  position: absolute;
  right: 8px;
  top: 2.5px;
}

.delBtn i {
    cursor: pointer;
}

.updateBtn {
  position: absolute;
  right: 32px;
  top: 2.5px;
}

.updateBtn i {
    cursor: pointer;
}