.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
}

.modal {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  margin: auto;
  background: rgb(139, 89, 255);
  color: white;
  width: 60vw;
  z-index: 50;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 20px;
  padding: 20px;
}

.delBtn {
  position: absolute;
  right: 11.5px;
  top: 3.5px;
  cursor: pointer;
}

.username {
  width: 45%;
  display: inline-block;
}

.status , select, option {
  display: inline-block;
  width: 45%;
  height: 30px;
}

.bio input {
  width: 100%;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgb(27, 27, 27);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(44, 44, 44);
  border-radius: 20px;
}